In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
games = pd.read_csv(r"../Datasets/games.csv")
stats = pd.read_csv(r"../datasets/International_Chess_Stats.csv",index_col=[0]) #this dataset came with two index columns
players = pd.read_csv(r"../datasets/Complete_Players_Database.csv",low_memory=False)

In [3]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

In [4]:
#splitting out the first ten moves, to see if there's a pattern there, or useful categories
games['opening'] = games['moves'].apply(lambda x : x.split(' ',20))
games['opening'].apply(lambda x : x.pop())
games['opening'] = games['opening'].apply(lambda x : ' '.join(x))

In [5]:
#splitting out the first ten moves, to be used to see if there's a pattern there, 
#or useful categories beyond ECO code proved in data set
def opening_10(game):
    opening = game['moves'].split(' ',10)
    opening.pop()
    opening = ' '.join(opening)
    return opening

In [6]:
games['opening_10'] = games.apply(lambda x : opening_10(x), axis=1) #create list of first 10 moves in each game

In [7]:
print(games['opening_eco'].nunique())
print(games['opening_name'].nunique())

365
1477

In [8]:
games['opening_name'].unique()

array(['Slav Defense: Exchange Variation',
       'Nimzowitsch Defense: Kennedy Variation',
       "King's Pawn Game: Leonardis Variation", ...,
       "Queen's Indian Defense: Classical Variation |  Traditional Variation",
       "Queen's Gambit Declined: Slav |  Dutch Variation",
       'Sicilian Defense: Najdorf Variation |  Polugaevsky Variation'],
      dtype=object)

In [9]:
#get simplified opening name

In [10]:
def simple_opening(game):
    """This returns a simplified version of the opening name, roughly equivilant to the ECO code"""
    if ':' in game['opening_name']:
        opening = game['opening_name'].split(':')
        opening.pop()
        return opening[0]
    else:
        return game['opening_name']

In [11]:
def simple_opening2(game):
    """This returns an even simpler opening, hopefully useful for running logical regressions and GLMs"""
    if ':' in game['opening_name']:
        opening = game['opening_name'].split(':') #several characters are used as break characters and must be accounted for
        opening.pop()
        return opening[0]
    elif '|' in game['opening_name']:
        opening = game['opening_name'].split('|')
        opening.pop()
        return opening[0]
    elif '#' in game['opening_name']:
        opening = game['opening_name'].split('#')
        opening.pop()
        return opening[0]
    else:
        return game['opening_name']

In [12]:
games['opening_simple'] = games.apply(lambda x : simple_opening(x), axis=1) #friendly lambda functions.

In [13]:
games['simpler_opening'] = games.apply(lambda x : simple_opening2(x), axis=1)

In [14]:
games['opening_simple'] = games['opening_simple'].apply(lambda x : x.strip())
games['simpler_opening'] = games['simpler_opening'].apply(lambda x : x.strip())

In [15]:
games['opening_simple'].head()

0           Slav Defense
1    Nimzowitsch Defense
2       King's Pawn Game
3      Queen's Pawn Game
4       Philidor Defense
Name: opening_simple, dtype: object

In [16]:
games['opening_simple'].nunique()

227

In [17]:
games['simpler_opening'].nunique()  #much fewer, should prove more useful at differenciating categories as a result

143

In [18]:
# Opening_dict = dict(zip(games['opening_eco'],)) #investigate further ways to use ECO code as a consistent marker

In [19]:
#a 'ply' is a half-move. In games where turns consists of one player making a move and then the other, 
#each players move is referred to as a 'ply' 
def opening_ply(game):
    opening = game['moves'].split(' ',game['opening_ply'])
    opening.pop()
    opening = ' '.join(opening)
    return opening

In [20]:
games['opening_moves'] = games.apply(lambda x : opening_ply(x), axis=1) 
#create list of moves used to determine the opening, unsure of its use as separate from ECO just yet

In [21]:
games['increment_code'].unique() #the initial time given to each player (in minutes) plus the time in seconds added after each move

array(['15+2', '5+10', '20+0', '30+3', '10+0', '15+30', '15+0', '20+60',
       '5+40', '8+0', '15+15', '15+16', '11+0', '30+60', '15+5', '10+10',
       '15+3', '18+0', '30+30', '20+25', '5+5', '30+0', '40+40', '16+0',
       '6+10', '8+10', '8+12', '7+12', '15+10', '20+5', '20+10', '45+0',
       '5+8', '30+2', '25+0', '10+2', '7+2', '25+25', '7+8', '6+6',
       '10+4', '12+0', '15+1', '2+10', '9+0', '10+9', '6+7', '30+10',
       '30+15', '10+3', '45+30', '9+2', '7+3', '6+5', '25+5', '5+7',
       '8+2', '20+8', '30+5', '25+15', '15+7', '8+8', '5+9', '16+7',
       '10+7', '7+5', '40+20', '10+5', '11+5', '10+15', '180+0', '17+5',
       '8+5', '3+8', '60+120', '90+120', '15+8', '9+1', '9+3', '2+15',
       '10+1', '5+12', '60+10', '5+60', '8+15', '30+25', '12+1', '14+0',
       '60+20', '10+8', '20+3', '14+12', '7+7', '60+0', '45+45', '4+15',
       '5+6', '180+180', '8+3', '4+6', '10+25', '3+10', '7+4', '6+3',
       '5+15', '45+15', '15+20', '6+8', '6+9', '14+8', '6+4', '15+4',
       '9+20', '20+15', '20+2', '9+10', '8+7', '13+1', '150+180', '3+12',
       '7+10', '10+60', '5+30', '20+30', '14+10', '25+10', '8+1', '19+0',
       '9+12', '20+1', '0+25', '0+15', '15+6', '8+6', '10+6', '25+8',
       '15+14', '20+20', '13+10', '3+9', '17+11', '12+5', '12+2', '7+25',
       '20+7', '12+6', '25+30', '15+45', '25+3', '17+1', '30+1', '17+8',
       '17+3', '45+10', '8+25', '19+19', '12+8', '9+9', '15+60', '5+20',
       '30+6', '12+12', '30+12', '25+2', '40+10', '16+2', '90+0', '30+11',
       '4+10', '12+13', '11+8', '60+4', '10+30', '60+3', '20+6', '1+30',
       '90+30', '4+8', '40+0', '17+2', '180+8', '12+10', '16+1', '1+10',
       '7+14', '3+15', '60+60', '13+3', '45+4', '45+5', '10+180', '120+0',
       '30+7', '14+4', '13+2', '6+20', '180+60', '60+30', '40+30',
       '30+35', '10+11', '1+12', '11+11', '18+5', '8+9', '15+11', '9+5',
       '19+17', '14+14', '17+15', '7+6', '40+2', '10+20', '12+9', '14+17',
       '14+20', '10+13', '30+8', '30+9', '30+4', '30+20', '5+180', '7+9',
       '5+13', '30+45', '25+4', '25+1', '12+4', '11+4', '13+0', '60+5',
       '9+11', '1+15', '12+3', '2+16', '13+5', '20+4', '40+1', '17+16',
       '11+10', '1+19', '40+60', '7+35', '16+10', '9+17', '15+12',
       '10+12', '35+10', '18+20', '6+15', '19+20', '11+1', '30+150',
       '35+3', '17+0', '40+15', '14+6', '20+40', '13+14', '8+4', '180+25',
       '2+20', '12+11', '13+13', '16+8', '60+7', '45+1', '20+11', '150+8',
       '20+180', '90+5', '9+6', '45+8', '17+90', '18+19', '0+12', '9+4',
       '35+0', '7+15', '1+25', '11+3', '17+13', '9+8', '13+12', '16+4',
       '19+8', '11+7', '0+180', '14+5', '19+2', '10+35', '4+7', '6+12',
       '19+30', '12+20', '29+30', '15+9', '120+1', '180+5', '12+7',
       '8+180', '35+15', '17+17', '150+60', '18+18', '18+10', '150+3',
       '1+13', '0+16', '5+17', '5+25', '25+17', '18+8', '180+45', '1+45',
       '10+45', '20+9', '25+9', '13+20', '1+20', '0+40', '0+20', '14+9',
       '40+9', '25+20', '180+150', '180+120', '20+12', '30+16', '20+120',
       '2+40', '19+5', '18+15', '19+45', '11+2', '5+21', '19+4', '4+180',
       '5+11', '60+13', '40+8', '4+18', '4+12', '21+0', '90+8', '13+7',
       '9+7', '14+2', '20+13', '19+3', '60+15', '3+35', '7+11', '2+12',
       '8+30', '120+10', '150+0', '5+14', '16+20', '15+25', '120+180',
       '60+40', '180+3', '10+40', '30+40', '3+30', '2+9', '7+18', '35+2',
       '8+11', '12+15', '1+18', '20+90', '4+20', '35+1', '7+30', '25+12',
       '45+2', '13+15', '14+1', '25+6', '16+3', '0+13', '60+1', '11+9',
       '19+18', '120+5', '9+15', '0+30', '6+30', '35+35', '3+20', '4+9',
       '10+14', '35+8', '13+40', '16+15', '60+180', '8+45', '14+15'],
      dtype=object)

In [22]:
len(games.loc[games['increment_code'].str.startswith('0')]) #check num. of games with unusual time control

45

In [23]:
games['t'] = games['increment_code'].apply(lambda x : x.split('+')[0]).astype(int) #cast time w/o increment as int

In [24]:
games['t'][0]

15

In [25]:
def time_control_label(d):
    """assigns timecode names based on each player's starting time. 
    These categories are based on Lichess.org standards."""
    if d['t'] < 1:
        return 'Atomic'
    elif d['t'] < 3:
        return 'Bullet'
    elif d['t'] < 10:
        return 'Blitz'
    elif d['t'] >= 15:
        return 'Rapid'
    else:
         return 'Classical'

In [26]:
games['time_ctrl'] = games.apply(lambda x : time_control_label(x), axis=1) #create time controls field

In [27]:
games['time_ctrl'][0]

'Rapid'

In [28]:
del games['t'] #no longer needed, can be pulled easily if it is

In [29]:
# Convert 'created_at' to datetime and save it into a new column: 
games['created_at'] = pd.to_datetime(games['created_at']/1000, unit='s', origin='unix')

# Convert 'last_move_at_modified' to datetime and save it into a new column:
games['last_move_at'] = pd.to_datetime(games['last_move_at']/1000, unit='s', origin='unix')

# Create a new column calculating the time difference between the 2 previous columns:
games['duration'] = pd.to_datetime(games['last_move_at']) - pd.to_datetime(games['created_at'])

games.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,...,opening_eco,opening_name,opening_ply,opening,opening_10,opening_simple,simpler_opening,opening_moves,time_ctrl,duration
0,TZJHLljE,False,2017-08-31 20:06:40,2017-08-31 20:06:40,13,outoftime,white,15+2,bourgris,1500,...,D10,Slav Defense: Exchange Variation,5,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+,Slav Defense,Slav Defense,d4 d5 c4 c6 cxd5,Rapid,0 days

In [30]:
del games['last_move_at'] #duplicate of 'created_at' in this dataset

In [31]:
def rating_dif(game):
    dif = game['white_rating'] - game['black_rating']
    return dif

In [32]:
games['rating_dif'] = games.apply(lambda x : rating_dif(x), axis=1) #rating difference could be a good predictor of the game's outcome

In [33]:
def winner_binary(game):
    """creates an integer to be used for linear regressions involving the game result"""
    if game['winner']=='white':
        return 1
    else:
        return 0

In [34]:
games['winner_bin'] = games.apply(lambda x : winner_binary(x), axis=1)

In [35]:
games.head(1)

,id,rated,created_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,...,opening_ply,opening,opening_10,opening_simple,simpler_opening,opening_moves,time_ctrl,duration,rating_dif,winner_bin
0,TZJHLljE,False,2017-08-31 20:06:40,13,outoftime,white,15+2,bourgris,1500,a-00,...,5,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+,Slav Defense,Slav Defense,d4 d5 c4 c6 cxd5,Rapid,0 days,309,1

In [36]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175358 entries, 0 to 175357
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Country Rank  175358 non-null  int64
 1   Name          175358 non-null  object
 2   Title         175358 non-null  object
 3   Country       175358 non-null  object
 4   FIDE          175358 non-null  object
 5   Age           175358 non-null  int64
 6    K-factor     175358 non-null  int64
dtypes: int64(3), object(4)
memory usage: 9.4+ MB

In [37]:
print(players.columns)

Index(['Country Rank', 'Name', 'Title', 'Country', 'FIDE', 'Age', ' K-factor'], dtype='object')

In [38]:
print(len(players))
print(players.describe())

175358
        Country Rank            Age       K-factor
count  175358.000000  175358.000000  175358.000000
mean     3221.141704      36.374463      29.539713
std      3779.534044      20.448013      10.328708
min         1.000000       6.000000      10.000000
25%       483.000000      18.000000      20.000000
50%      1653.000000      31.000000      20.000000
75%      4599.000000      53.000000      40.000000
max     16673.000000     970.000000      40.000000

In [39]:
players['Title'].unique()

array(['FM', 'unranked/unrated', 'GM', 'IM', 'WCM', 'WFM', 'WIM', 'WGM',
       'CM', 'WH'], dtype=object)

In [40]:
players['Name'].nunique() #more rows than names, about 1300

174070

In [41]:
players.drop_duplicates(inplace=True)
print(len(players)) #shows no change, no duplicates, just similar names
print(players.describe())

175358
        Country Rank            Age       K-factor
count  175358.000000  175358.000000  175358.000000
mean     3221.141704      36.374463      29.539713
std      3779.534044      20.448013      10.328708
min         1.000000       6.000000      10.000000
25%       483.000000      18.000000      20.000000
50%      1653.000000      31.000000      20.000000
75%      4599.000000      53.000000      40.000000
max     16673.000000     970.000000      40.000000

In [42]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 0 to 189
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   #             190 non-null    int64
 1   Country       188 non-null    object
 2   Flag          0 non-null      float64
 3   Num Players   190 non-null    int64
 4   Women         190 non-null    int64
 5   % of Women    190 non-null    float64
 6   FIDE Average  190 non-null    int64
 7   GMs           190 non-null    int64
 8   IMs           190 non-null    int64
 9   FMs           190 non-null    int64
 10  WGMs          190 non-null    int64
 11  WIMs          190 non-null    int64
 12  WFMs          190 non-null    int64
 13  Age Avg       190 non-null    int64
dtypes: float64(2), int64(11), object(1)
memory usage: 22.3+ KB

In [43]:
# Drop 'Flag':
stats = stats.drop('Flag', axis=1)
# Drop nulls
stats.dropna(inplace=True)

In [44]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 188 entries, 0 to 189
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   #             188 non-null    int64
 1   Country       188 non-null    object
 2   Num Players   188 non-null    int64
 3   Women         188 non-null    int64
 4   % of Women    188 non-null    float64
 5   FIDE Average  188 non-null    int64
 6   GMs           188 non-null    int64
 7   IMs           188 non-null    int64
 8   FMs           188 non-null    int64
 9   WGMs          188 non-null    int64
 10  WIMs          188 non-null    int64
 11  WFMs          188 non-null    int64
 12  Age Avg       188 non-null    int64
dtypes: float64(1), int64(11), object(1)
memory usage: 20.6+ KB

In [45]:
# No % can be larger than 100%:

stats[stats['% of Women'] > 100]

Empty DataFrame
Columns: [#, Country, Num Players, Women, % of Women, FIDE Average, GMs, IMs, FMs, WGMs, WIMs, WFMs, Age Avg]
Index: []

In [46]:
stats.columns

Index(['#', 'Country', 'Num Players', 'Women', '% of Women', 'FIDE Average',
       'GMs', 'IMs', 'FMs', 'WGMs', 'WIMs', 'WFMs', 'Age Avg'],
      dtype='object')

In [47]:
del stats['#'] #a duplicate index column in the original data

In [48]:
players.columns

Index(['Country Rank', 'Name', 'Title', 'Country', 'FIDE', 'Age', ' K-factor'], dtype='object')

In [49]:
games.columns

Index(['id', 'rated', 'created_at', 'turns', 'victory_status', 'winner',
       'increment_code', 'white_id', 'white_rating', 'black_id',
       'black_rating', 'moves', 'opening_eco', 'opening_name', 'opening_ply',
       'opening', 'opening_10', 'opening_simple', 'simpler_opening',
       'opening_moves', 'time_ctrl', 'duration', 'rating_dif', 'winner_bin'],
      dtype='object')

In [50]:
games = games[['id','rated','created_at','duration','turns','victory_status','winner','winner_bin','time_ctrl','increment_code','white_id','white_rating','black_id','black_rating','rating_dif','moves','opening_eco','opening_name','opening_simple','opening_moves','opening_10','opening_ply','simpler_opening']]
#reordering column names

In [51]:
print(games.columns)
games.head()

Index(['id', 'rated', 'created_at', 'duration', 'turns', 'victory_status',
       'winner', 'winner_bin', 'time_ctrl', 'increment_code', 'white_id',
       'white_rating', 'black_id', 'black_rating', 'rating_dif', 'moves',
       'opening_eco', 'opening_name', 'opening_simple', 'opening_moves',
       'opening_10', 'opening_ply', 'simpler_opening'],
      dtype='object')

,id,rated,created_at,duration,turns,victory_status,winner,winner_bin,time_ctrl,increment_code,...,black_rating,rating_dif,moves,opening_eco,opening_name,opening_simple,opening_moves,opening_10,opening_ply,simpler_opening
0,TZJHLljE,False,2017-08-31 20:06:40,0 days,13,outoftime,white,1,Rapid,15+2,...,1191,309,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,Slav Defense,d4 d5 c4 c6 cxd5,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+,5,Slav Defense
1,l1NXvwaE,True,2017-08-30 21:53:20,0 days,16,resign,black,0,Blitz,5+10,...,1261,61,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,Nimzowitsch Defense,d4 Nc6 e4 e5,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5,4,Nimzowitsch Defense
2,mIICvQHh,True,2017-08-30 21:53:20,0 days,61,mate,white,1,Blitz,5+10,...,1500,-4,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,King's Pawn Game,e4 e5 d3,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5,3,King's Pawn Game
3,kWKvrqYL,True,2017-08-30 16:20:00,0 days,61,mate,white,1,Rapid,20+0,...,1454,-15,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,Queen's Pawn Game,d4 d5 Nf3,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6,3,Queen's Pawn Game
4,9tXo1AUZ,True,2017-08-29 18:06:40,0 days,95,mate,white,1,Rapid,30+3,...,1469,54,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,Philidor Defense,e4 e5 Nf3 d6 d4,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6,5,Philidor Defense

In [52]:
stats.reset_index(inplace=True)
players.reset_index(inplace=True)
games.reset_index(inplace=True)
#safety first... or eventually anyway

In [53]:
stats.to_csv('../datasets/stats_clean.csv',index=False)
players.to_csv('../datasets/players_clean.csv',index=False)
games.to_csv('../datasets/games_clean.csv',index=False)

In [54]:
games['duration'].nunique()

10338

In [55]:
games.head()

,index,id,rated,created_at,duration,turns,victory_status,winner,winner_bin,time_ctrl,...,black_rating,rating_dif,moves,opening_eco,opening_name,opening_simple,opening_moves,opening_10,opening_ply,simpler_opening
0,0,TZJHLljE,False,2017-08-31 20:06:40,0 days,13,outoftime,white,1,Rapid,...,1191,309,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,Slav Defense,d4 d5 c4 c6 cxd5,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+,5,Slav Defense
1,1,l1NXvwaE,True,2017-08-30 21:53:20,0 days,16,resign,black,0,Blitz,...,1261,61,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,Nimzowitsch Defense,d4 Nc6 e4 e5,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5,4,Nimzowitsch Defense
2,2,mIICvQHh,True,2017-08-30 21:53:20,0 days,61,mate,white,1,Blitz,...,1500,-4,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,King's Pawn Game,e4 e5 d3,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5,3,King's Pawn Game
3,3,kWKvrqYL,True,2017-08-30 16:20:00,0 days,61,mate,white,1,Rapid,...,1454,-15,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,Queen's Pawn Game,d4 d5 Nf3,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6,3,Queen's Pawn Game
4,4,9tXo1AUZ,True,2017-08-29 18:06:40,0 days,95,mate,white,1,Rapid,...,1469,54,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,Philidor Defense,e4 e5 Nf3 d6 d4,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6,5,Philidor Defense

In [56]:
print(games['opening_moves'].nunique())

2805

In [57]:
stats['Country'].nunique()

186

In [58]:
stats.loc[stats['Country'].str.startswith('Netherland')] #duplicate country names will be processed in Tableau, but this SHOULD be cleaned in future

,index,Country,Num Players,Women,% of Women,FIDE Average,GMs,IMs,FMs,WGMs,WIMs,WFMs,Age Avg
17,17,Netherlands,4347,253,5.82,1886,36,100,181,4,14,10,49
142,143,Netherlands Antilles,45,8,17.78,1747,0,0,5,0,0,1,41
182,184,Netherlands Antilles,6,0,0.00,1191,0,0,0,0,0,0,28